<header>
    <div class="container">
        <nav>
            <a href="/index.html" class="logo">Jackson Dai <span>BioTools</span></a>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/research.html">Research</a></li>
                <li><a href="/publications.html">Publications</a></li>
                <li><a href="/tools.html">Tools</a></li>
                <li><a href="/knowledge.html">Knowledge</a></li>
            </ul>
        </nav>
    </div>
</header>
